@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), system-ui, sans-serif;
  --font-display: var(--font-poppins), system-ui, sans-serif;

  --color-primeColor: #262626;
  --color-lightText: #6d6d6d;

  --shadow-testShadow: 0px 0px 54px -13px rgba(0, 0, 0, 0.7);
}
